body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-content: Content;
  --font-encode-sans: "Encode Sans";
  --font-ek-mukta: "Ek Mukta";
  --font-dosis: Dosis;
  --font-commissioner: Commissioner;
  --font-comfortaa: Comfortaa;
  --font-encode-sans-sc: "Encode Sans SC";
  --font-inter: Inter;
  --font-economica: Economica;
  --font-doppio-one: "Doppio One";
  --font-homenaje: Homenaje;
  --font-inria-serif: "Inria Serif";
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-21xl: 40px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-silver-100: #cbc5c5;
  --color-silver-200: rgba(191, 191, 191, 0);
  --color-gray-100: #fffefe;
  --color-gray-200: #fffdfd;
  --color-gray-300: #8d8b8b;
  --color-gray-400: #8e8585;
  --color-gray-500: #848282;
  --color-gray-600: #7c7979;
  --color-gray-700: #0c0b0b;
  --color-gray-800: #0d0000;
  --color-gray-900: rgba(12, 11, 11, 0.51);
  --color-gray-1000: rgba(0, 0, 0, 0.29);
  --color-whitesmoke-100: #faf9f9;
  --color-whitesmoke-200: #f8f8f8;
  --color-whitesmoke-300: #f8f5f5;
  --color-whitesmoke-400: #f7f5f5;
  --color-whitesmoke-500: #f8f4f4;
  --color-whitesmoke-600: #f4f1f1;
  --color-whitesmoke-700: #f0ecec;
  --color-whitesmoke-800: #efecec;
  --color-whitesmoke-900: #efeaea;
  --color-dimgray-100: #6d6c6c;
  --color-dimgray-200: #6c6b6b;
  --color-dimgray-300: #615f5f;
  --color-dimgray-400: #545252;
  --color-dimgray-500: #524e4e;
  --color-red-100: #fe2204;
  --color-red-200: #ef1c1c;
  --color-red-300: #e31c1c;
  --color-snow-100: #fffbfb;
  --color-snow-200: #fffafa;
  --color-snow-300: #fbf7f7;
  --color-darkgray-100: #b1a8a8;
  --color-darkgray-200: #afa6a6;
  --color-darkgray-300: #a8a2a2;
  --color-darkgray-400: #a09c9c;
  --color-darkgray-500: #9b9b9b;
  --color-darkgray-600: #9b9696;
  --color-orangered-100: #fb5f07;
  --color-orangered-200: #f35f0b;
  --color-orangered-300: #f8540e;
  --color-lightgray-100: #d0cfcf;
  --color-lightgray-200: #d0caca;
  --color-lightgray-300: #ccc;
  --color-chocolate-100: #e07008;
  --color-chocolate-200: #d25108;
  --color-darkorange: #e98006;
  --color-darkslategray: #474545;
  --color-firebrick-100: #d12b2b;
  --color-firebrick-200: #ab0606;
  --color-darkslateblue-100: #0f3a69;
  --color-darkslateblue-200: rgba(15, 58, 105, 0);
  --color-steelblue-100: rgba(66, 110, 156, 0);

  /* Gaps */
  --gap-4xs: 9px;
  --gap-0: 0px;
  --gap-smi: 13px;
  --gap-32xl: 51px;
  --gap-28xl: 47px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-11xl: 30px;
  --gap-5xs: 8px;
  --gap-11xs: 2px;
  --gap-sm: 14px;
  --gap-83xl: 102px;
  --gap-4xl: 23px;
  --gap-12xl: 31px;
  --gap-9xs: 4px;
  --gap-33xl: 52px;
  --gap-5xl: 24px;
  --gap-27xl: 46px;
  --gap-44xl: 63px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-6xs: 7px;
  --gap-20xl: 39px;
  --gap-13xl: 32px;
  --gap-60xl: 79px;
  --gap-16xl: 35px;
  --gap-14xl: 33px;
  --gap-57xl: 76px;
  --gap-47xl: 66px;
  --gap-9xl: 28px;
  --gap-8xl: 27px;
  --gap-base: 16px;
  --gap-10xl: 29px;
  --gap-30xl: 49px;
  --gap-lgi: 19px;
  --gap-35xl: 54px;
  --gap-214xl: 233px;

  /* Paddings */
  --padding-157xl: 176px;
  --padding-xl: 20px;
  --padding-12xl: 31px;
  --padding-95xl: 114px;
  --padding-18xl: 37px;
  --padding-10xl: 29px;
  --padding-7xs: 6px;
  --padding-69xl: 88px;
  --padding-42xl: 61px;
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-5xl: 24px;
  --padding-43xl: 62px;
  --padding-49xl: 68px;
  --padding-15xl: 34px;
  --padding-6xs: 7px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-20xl: 39px;
  --padding-41xl: 60px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-lgi: 19px;
  --padding-5xs: 8px;
  --padding-9xl: 28px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-96xl: 115px;
  --padding-4xs: 9px;
  --padding-13xl: 32px;
  --padding-31xl: 50px;
  --padding-14xl: 33px;
  --padding-3xs: 10px;
  --padding-19xl: 38px;
  --padding-7xl: 26px;
  --padding-4xl: 23px;
  --padding-10xs: 3px;
  --padding-16xl: 35px;
  --padding-24xl: 43px;
  --padding-smi: 13px;
  --padding-21xl: 40px;
  --padding-lg: 18px;
  --padding-137xl: 156px;
  --padding-2xl: 21px;
  --padding-40xl: 59px;
  --padding-45xl: 64px;
  --padding-53xl: 72px;
  --padding-29xl: 48px;
  --padding-26xl: 45px;
  --padding-30xl: 49px;
  --padding-6xl: 25px;
  --padding-23xl: 42px;
  --padding-33xl: 52px;
  --padding-47xl: 66px;
  --padding-82xl: 101px;
  --padding-66xl: 85px;
  --padding-8xl: 27px;
  --padding-79xl: 98px;
  --padding-150xl: 169px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-xs: 12px;
  --br-41xl: 60px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-10xs: 3px;
}
